@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-fonte: #f3f3f3;
    --cor-de-fundo: #000000;
    --cor-formulario: rgba(27, 27, 50, 0.8);
    --cor-enviar: #37af65;
    --fonte-poppins: 'Poppins', sans-serif;
}

html {
    padding: 100px 0;
    color: var(--cor-fonte);
    font-size: 22px;
    font-family: var(--fonte-poppins);
    font-weight: 400;
    background-color: var(--cor-de-fundo);
    background-image: url(/img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
}

.cabeca {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center ;
}

.cabeca__paragrafo {
    font-size: 16px;
}

.principal {
    padding: 50px 40px ;
    margin-top: 30px;
    background-color: var(--cor-formulario);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center ;
    max-width: max-content;
}

.formulario__grupo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 30px;
}

.caixa-estilo {
    padding: 12px;
}

#texto {
    min-height: 150px;
}

.enviar {
    color: var(--cor-fonte);
    padding: 12px;
    background-color: var(--cor-enviar);
    font-family: var(--fonte-poppins);
    font-size: 18px;
    font-weight: 400;
}

@media ( max-width: 1325px) {
    :root {
        --cor-fonte: #FFF3E4;
        --cor-de-fundo: #6B4F4F;
        --cor-formulario: #483434;
        --cor-enviar: #EED6C4;
    }
    html {
        background-image: none;
    }
    .enviar {
        color: var( --cor-de-fundo);
    }
}

@media (max-width: 675px) {
    html {
        
        font-size: 16px;
    }
}    

@media ( max-width: 675px) {
    html {
        padding: 10%;
    }
}
